body, html {
  color: #152022;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
  height: 100%;
  letter-spacing: 2px;
  margin: 0;
}

.blueberries-image, .ingredients-image, .muffins-bottom-image, .muffins-top-image {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  position: relative;
}

header {
    background-color: #f0f8ff;
    border-bottom: 3px solid #152022;
    padding: 25px;
}

.title {
  font-family: 'Allura', cursive;
  font-size: 48px;
  letter-spacing: 2px;
  text-align: center;
}

h2 {
  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 0;
  text-align: center;
  text-transform: capitalize;
}

p {
  font-size: 24px;
}

h3 {
  font-size: 36px;
  text-align: center;
  text-transform: uppercase;
}

.recipe-description {
  border-bottom: 3px solid #152022;
  padding: 0px 75px 75px 75px;
}

.recipe-description ul {
  display: inline-block;
}

.recipe-description ul li {
  float: left;
  font-size: 24px;
  list-style-type: none;
  padding: 0 125px;
}

.equipment, .ingredients, .baking-instructions {
  border-bottom: 3px solid #152022;
  border-top: 3px solid #152022;
  box-sizing: border-box;
  padding: 100px 150px 100px 150px;
}

.box-background {
  background-color: #f0f8ff;
  box-sizing: border-box;
  padding: 50px;
}

.equipment ul {
  font-size: 24px;
  line-height: 32px;
  list-style-type: square;
  margin: 0 auto;
  width: 450px;
}

.ingredients ul {
  font-size: 24px;
  line-height: 32px;
  list-style-type: square;
  margin: 0 auto;
  width: 750px;
}

.baking-instructions ol {
  font-size: 24px;
  line-height: 32px;
  list-style-type: square;
  margin: 0 auto;
  width: 1250px;
}

footer {
  background-color: #f0f8ff;
  border-top: 3px solid #152022;
  padding: 25px;
}

h4, h5 {
  color: #152022;
  text-align: center;
}

.blueberries-image {
  background-image: url('../img/blueberries.jpg')
}

.ingredients-image {
  background-image: url('../img/ingredients.jpg')
}

.muffins-bottom-image {
  background-image: url('../img/muffins-bottom.jpg')
}

.muffins-top-image {
  background-image: url('../img/muffins-top.jpg')
}

@media only screen and (max-device-width: 1024px) {
  .blueberries-image, .ingredients-image, .muffins-bottom-image, .muffins-top-image {
    background-attachment: scroll;
    }
}